    body{font-family:Calibri, Tahoma, Arial;}
	.TabControl{ width:100%; overflow:hidden; height:900px }
	.TabControl #PaiAbas{ width:100%;  overflow:hidden; cursor:pointer}
	.TabControl #content{ width:100%; border: solid 1px;overflow:hidden; height:100%; background:#A9A9A9; border: solid 2px;}
	.TabControl .abas{display:inline;}
	.TabControl .abas li{float:left; list-style-type: none;}

	.ClassAba1{width:100px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
		text-align:center; padding-top:5px; background:#808080;}
    .ClassAba2{width:100px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
		text-align:center; padding-top:5px; background:#808080;}

  	.ativa1{width:100px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
		text-align:center; padding-top:5px; background:#CCC; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
    .ativa2{width:100px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
		text-align:center; padding-top:5px; background:#CCC; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

	.conteudo{width:1300px;  background:#CCC; display:none; height:861px;color:#000; position: absolute; left: 16%;}

    .Botoes{font-size:14px;}

    .Titulo{background:#CCC; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

